.new {
    display: flex; 
    margin: 0 auto;
    height: 40em;
    width: 100em;
    background-color: #262a38;
    border-radius: 0.5rem;
}

.section-new {
    display: grid;
    margin: 0 auto;
    margin-top: 35px;
    width: 100em;
    animation: new 500ms cubic-bezier(1, 0, 0.58, 1) 1 forwards;
}

@keyframes new {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}