.search-box {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 30px 30px;
    grid-template-columns: 200px 149px 275px;
    width: auto;
    height: 256px;
    margin-top: 2em;
    animation: manga 500ms 1 ease-in-out forwards;
    background-color: #1B2430;
    overflow: hidden;
}

.grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(634px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
}

@media only screen and (min-width: 2500px) {

    .grid {
        margin-top: 100px;
    }
}


.detail {
    grid-row: 2;
    grid-column: 2 / 3
}

.desc {
    grid-column: 2 / 4;
    height: 194px;
    overflow: hidden;
    grid-row: 3;
    padding-right: 10px;
    margin-top: 0;
}

.search-box > p {
    margin: 0;
}

@keyframes manga {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.search-cover {
    grid-row: 1 / 5;
    width: 182px;
    height: 256px;
}

.manga-name {
    font-weight: 400;
    font-size: 1em;
    grid-column: 2 / 4;
    overflow: hidden;
}

.manga-name > h1 {
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
}

.manga-name:hover, .search-cover:hover {
    cursor: pointer;
}

.pagination-cont {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    width: 150px;
}

.form-genre {
    width: auto;
}