.big-container {
    display: grid;
    width: 100%;
    grid-template-rows: 100px;
    grid-template-columns: 250px;
    background-color: #1d1c1f;
    animation: container 1000ms ease-in-out 1 forwards;
}

@keyframes container {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.cover {
    display: grid;
    height: 350px;
    grid-template-columns: 350px 350px 400px;
    grid-template-rows: 43px 35px 35px 35px 35px 165px;
    grid-column: 2;
    grid-row: 2;
    margin-left: 1em;
}

.name {
    grid-column: 1 / 4;
    margin: 0 0;
}

.author {
    display: flex;
    gap: 10px;
    grid-row: 3;
    grid-column: 1 / 3;
}

.author > *,
.release-year {
    margin: 0;
    align-self: center;
    font-weight: 200;
}

.author > .author-name {
    background-color: #1B2430;
    padding: 5px;
}

.status,
.demographic {
    display: flex;
    align-self: center;
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
}

.manga-desc {
    margin-top: 0;
    grid-row: 6;
    grid-column: 1 / 4;
    overflow: hidden;
}

.manga-img {
    grid-column: 1;
    grid-row: 2;
    margin-left: 10px;
    width: 250px;
    height: 350px;
}

.random-bg {
    margin-left: 70px;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    height: 450px;
    animation: yotsu 1500ms ease-in-out 1 forwards;
}

@keyframes yotsu {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 125px));
    flex-direction: row;
    grid-column: 1 / 6;
    margin: 5px 0px;
    gap: 10px;
    padding: 10px;
    font-weight: 600;
}

.tag {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
    background-color: #1B2430;
    width: 130px;
    height: 30px;
}

.link-tag {
    font-size: 16px;
}

.select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    animation: container 1000ms ease-in-out 1 forwards;
}

.select-chapter {
    width: 250px;
    height: 35px;
    color: black;
}

.select-chapter > * {
    color: black;
}

.chapter {
    display: grid;
    justify-content: center;
    width: 100%;
}

.chapter > img {
    width: auto;
    justify-self: center;
}

.return-to-top {
    display: flex;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1B2430;
    animation: container 3000ms ease-in-out 1 forwards;
}